.navbar-default .navbar-nav .open .dropdown-menu>li:hover a,
.navbar-default .navbar-nav .open .dropdown-menu>li:last-child:hover a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li:hover li a:hover,
.btn-1e:after,
.btn-1,
.shop,
.owl-theme .owl-nav [class*='owl-']:hover,
.bottom-service:hover,
.trainers figure::before,
.trainers:hover .trainers-content,
.overlay-gallery,
.team-image a,
.team:hover .team-content,
.team:hover,
.electronic-profit:hover i,
.overlay-product,
.one-package:hover .get-start,
.detail-form p,
.detail-form button,
.map,
.blog-post button,
.comment-blog,
ul.contact-social-icon li a:hover,
.contact-page-form button,
.pagination>li>a:hover,
.input-search-box .input-group-addon,
ul.categories-list li:hover,
ul.tag-list li:hover,
.ui-state-active,
.error-page-image .input-group .input-group-addon,
.comming-soon-social-icon ul li,
.add-to-cart button,
.theme-color,
.time-cross,
.place-order-button button,
.order-button button,
.filter-price.ui-state-default,
.ui-widget-content .ui-state-default,
.filter-price .ui-state-hover,
.ui-widget-content .ui-state-hover,
.filter-price button,
.vertical-slider a.bx-next:hover, 
.vertical-slider a.bx-prev:hover,
.search-list span:hover,
.pre-loader,
.ui-accordion .ui-accordion-header:hover  {
    background-color: #fbbe05;
}
.navbar-default .navbar-nav .dropdown-menu>li,
.navbar-default .navbar-nav .open .dropdown-menu>li,
.btn-1,
.slider-content button:hover,
.about-us-content hr,
.about-us-content a,
.servies-top-section hr,
.banner-heading button:hover,
.team-image a,
.product-top hr,
.package-list hr,
.detail-form button,
.hire hr,
.blog-post button,
.about-us hr,
.btn-1e:hover,
.btn-1e:active,
.pagination>li>a:hover,
.input-search-box .input-group-addon,
ul.categories-list li:hover,
ul.tag-list li:hover,
.ui-state-active,
.error-page-image .input-group .input-group-addon,
#demo .timer,
.product-rating ul li:nth-child(2):before,
.product-rating ul li:nth-child(2):after,
.add-to-cart button,
ul.feature-product li input[type="checkbox"]:checked,
.filter-price.ui-state-default,
.ui-widget-content .ui-state-default,
.filter-price button,
.update-button button:last-child:hover,
.search-list span,
input[type="checkbox"],
.search-list span:hover,
.page-header-heading:after,
.ui-accordion .ui-accordion-header:hover  {
    border-color: #fbbe05;
}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li:last-child:hover a,
.navbar-default .navbar-nav .open .dropdown-menu>li:hover li a,
.proffesional,
.service-flate-icon a i,
.house,
.p-rate,
.post-image h4:hover,
.product-item ul li a i:hover,
.read,
.electronic-profit:hover .counter,
.electronic-profit:hover h5,
.page-header-heading h3,
ul.breadcrum li a:hover,
.breadcrum .active,
ul.footer-service li a:hover,
.social-icon ul li:hover a,
ul.blog-page-list li:hover,
.error-page-image h1 span,
.comming-soon-content h1 span,
.product-rating ul li:first-child a i,
.customer-returing h5 a:hover,
input[type="checkbox"]:checked:after,
.list-item-product i:hover,
.input-filter,
#search .close,
ul.rating-list li a i {
    color: #fbbe05;
}

@media screen and (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li:hover a, .navbar-default .navbar-nav .open .dropdown-menu>li:last-child:hover a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li:hover a {
    background: transparent;
	color:#fbbe05;
}

